{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Rooms</title>
    {% load static %}
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'room_booking/assets/' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'room_booking/css/room_list.css' %}">

</head>

<body>
    <header>
    </header>
    <div>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="{% url 'room_list' %}" class="navbar-item">BookingRooms</a>
            </div>
            <div class="navbar-right">
                {% if user.is_authenticated %}

                <a href="{% url 'user_profile' user.id %}" class="login-btn">{{ user.username }}</a>
                <a href="{% url 'logout' %}" class="sign-up-btn">Logout</a>

                {% else %}
                
                <a href="{% url 'login' %}" class="login-btn">Login</a>
                <a href="{% url 'signup' %}" class="sign-up-btn">Sign Up</a>

                {% endif %}
            </div>
        </nav>
        <main>
            <!-- <section class="hero">
                <h1>New generation of booking</h1>
                <p>Booking tax-free from Chis. platform</p>
                <img src="{% static 'room_booking/assets/image/mesh-640.png' %}" alt="">
                <a href="#" class="button">Keep calm & travel on</a>
            </section> -->
            <section class="hero">
                <img src="{% static 'room_booking/assets/image/mesh-640.png' %}" alt="Background"
                    class="hero-background">
                <div class="hero-content">
                    <h1>Booking Rooms</h1>
                    <p>Booking for Rest</p>
                    <a href="#target-section" class="button" id="scrollButton">Let's Booking</a>
                </div>
            </section>
            <section id="target-section">
                <div class="card-container">
                    {% for room in rooms %}
                    <a href="{% url 'book_room' room.id %}" class="card-link">
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ room.image.url }}" alt="Room image"
                                    class="card-image">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ room.name }}</h3>
                                <div class="card-info">
                                    <!-- Icons and info here -->
                                    <div>{{ room.beds }} beds</div>
                                    <div>{{ room.baths }} baths</div>
                                    <div>{{ room.size }} Sq. Ft</div>
                                </div>

                                <div class="card-price">฿ {{ room.price }}</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </section>
        </main>
        <aside>
        </aside>
        <footer>
        </footer>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="{% static 'room_booking/js/room_list.js' %}"></script>
</body>

</html>